# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Lambda deployment packages
*.zip

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
